<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Course Selector - eSchool</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/lessons.js"></script>
    </head>

    <body>

        <div id="app">
            <header id="header">
                <div class="nav">
                    <div class="left">
                        <h1>eSchool</h1>
                    </div>
                    <div class="right">
                        <button @click='displayCheckout()' :hidden='isHidden(cart)'>{{this.cart.length}} Basket</button>
                    </div>
                </div>
            </header>

            <div class="main-content">
                
                <div v-if="showProducts">
                    <h2>Courses</h2>
                    <!--<p>
                        <strong>Filter Price:</strong>
                        <select v-model="sortPrice">
                            <option selected disabled value="">Price</option>
                            <option>Highest - Lowest</option>
                            <option>Lowest - Highest</option>
                        </select>
                    </p>
                    <p>
                        <strong>Filter Location:
                        <select v-model="filterLocation">
                            <option selected disabled value="">Available</option>
                            <option>Highest - Lowest</option>
                            <option>Lowest - Highest</option>
                        </select>
                    </p>-->

                    <div class="productRow">
                        <div v-for="lesson in product" class="productListed">
                            <img v-bind:src="lesson.image">

                            <div class="productDetails">
                                <div class="productDesc">
                                    <h3 v-text="lesson.name"></h3>
                                    <h5 v-text="lesson.location"></h5>
                                </div>
                                
                                <div class="productPrice">
                                    <h4>£{{lesson.price}}</h4>
                                    <button v-on:click='addToCart(lesson)' :disabled='isDisabled(lesson)'>Add To Cart</button>
                                </div>
                                <div class="productStock">
                                    <p>Available stock: {{lesson.spaces}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-else>
                    <h2>Checkout</h2>

                    <div class="cart-backbutton">
                        <button @click='displayCheckout()'>Back to Courses</button>
                    </div>

                    <div class="cart-grouping">
                        <div class="cart-left">
                            <table id="cartProducts">
                                <tr v-for="lesson in cart">
                                    <td>{{lesson.name}}</td>
                                    <td>£{{lesson.price}}</td>
                                    <td><button @click='removeLesson(lesson)'>Remove</button></td>
                                </tr>
                            </table>
                            <p></p>
                        </div>
                        <div class="cart-right">
                            <input placeholder="name">
                            <input placeholder="phone">
                            <button @click='checkoutsubmit()'>Checkout</button>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>

        <script type="text/javascript">
            var webstore = new Vue  ({
                el: '#app',
                data:   {
                    product: lesson,
                    cart: [],
                    showProducts: true,
                },
                methods:    {
                    // Adds lesson to cart and removes that lesson from its matching lesson ID
                    // Stops at 0
                    addToCart(lesson)  {
                        if (lesson.spaces > 0)    {
                            lesson.spaces -= 1;
                            this.cart.push(lesson);
                        }
                    },
                    // Hides cart unless there are products in it (this was part of the criteria...)
                    isHidden(cart) {
                        return cart.length <= 0;
                    },
                    // Disables Add to Cart Button if stock is less than or equal to 0
                    isDisabled(lesson)    {
                        return lesson.spaces <= 0;
                    },
                    // Hides the showProducts section by setting its visibility to false
                    // Reveals showProducts section if actioned again by setting visibility to true
                    displayCheckout() {
                        this.showProducts = this.showProducts ? false : true;
                    },
                    // Removes product from cart and adds it back to the stock of that product
                    removeLesson(lesson)  {
                        if (lesson.spaces < 5)  {
                            lesson.spaces += 1;
                            this.cart.pop(lesson);
                        }
                    },
                    // Simmple alert pop-up for checking out products
                    checkoutsubmit()    {
                        alert("Successfully Checked Out!");
                    },
                },
                computed:   {
                    /*sortedLessons() {
                        let sortPrice = this.sortPrice,
                            filterLocation = this.filterLocation
                        return this.product.filter(function(lesson) {
                            let filtered = true
                            if (sortPrice && )
                        })
                    }*/
                }
            })
        </script>

    </body>

</html>